.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-sUP1SQFXvvvs);
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-11XaUrxZjC4b);
  width: 100%;
  font-size: var(--token-VpZmSnUQU865);
  line-height: var(--token-bqupQ9XBh9ut);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token--CftYjk-gW4F);
  padding: var(--token--CftYjk-gW4F) var(--token-YfOXfkonHIf4)
    var(--token--CftYjk-gW4F) var(--token-DScY0Gd1Bz8p);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-YfOXfkonHIf4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-YfOXfkonHIf4);
  flex-shrink: 0;
  border-radius: var(--token--CftYjk-gW4F);
  border: 1px none black;
}
.svg {
  width: var(--token-iJsoHMs12DzO);
  height: var(--token-iJsoHMs12DzO);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__npRdJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
