.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  min-width: 0;
  row-gap: var(--token-sUP1SQFXvvvs);
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__inOo {
  display: flex;
  flex-direction: column;
}
.freeBox__iC91 {
  flex-direction: row;
  position: absolute;
  height: var(--token-YfOXfkonHIf4);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token--CftYjk-gW4F) var(--token-DScY0Gd1Bz8p);
}
.freeBoxiconStart__iC91SloPe {
  display: flex;
}
.slotTargetStart {
  color: var(--token-vd6wzvOBpLOl);
}
.svg__vuHlD {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__mm91H {
  height: var(--token-YfOXfkonHIf4);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token--CftYjk-gW4F) var(--token-DScY0Gd1Bz8p);
}
.freeBoxiconEnd__mm91Hj78Kr {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-vd6wzvOBpLOl);
}
.svg__skKxT {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
