.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-vd6wzvOBpLOl);
  font-family: var(--token-AH3Hf7ZDaXf3);
  font-size: var(--token-VpZmSnUQU865);
  line-height: var(--token-bqupQ9XBh9ut);
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
