.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-sUP1SQFXvvvs);
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__f1Li3 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.freeBox__f1Li3 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - var(--token-sUP1SQFXvvvs));
  height: calc(100% + var(--token-sUP1SQFXvvvs));
}
.freeBox__f1Li3 > :global(.__wab_flex-container) > *,
.freeBox__f1Li3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f1Li3 > :global(.__wab_flex-container) > picture > img,
.freeBox__f1Li3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-sUP1SQFXvvvs);
}
.radio__hYfPm:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__jkEQz:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__gubwX:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
