.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-R71h7xGw8fCI);
  font-family: var(--token-AH3Hf7ZDaXf3);
  font-size: var(--token-VpZmSnUQU865);
  line-height: var(--token-bqupQ9XBh9ut);
  outline-style: none;
  border-radius: var(--token--CftYjk-gW4F);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-vb0lclOGvcNB);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-ITy99ORQKQ6f);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-fYC_qNgubxb3);
  outline-color: var(--token-8cUdpQJE0Qs4);
  outline-offset: 1px;
}
.freeBox__ptahG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-rO_8inny4wph) var(--token-DScY0Gd1Bz8p);
}
.freeBox__ptahG > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
  margin-top: calc(0px - var(--token-fYC_qNgubxb3));
  height: calc(100% + var(--token-fYC_qNgubxb3));
}
.freeBox__ptahG > :global(.__wab_flex-container) > *,
.freeBox__ptahG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ptahG > :global(.__wab_flex-container) > picture > img,
.freeBox__ptahG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
  margin-top: var(--token-fYC_qNgubxb3);
}
.freeBox__paqHj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__ug8Bt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-vd6wzvOBpLOl);
  min-width: 0;
}
